/*=============================================
=            MEDIA QUERIES            =
=============================================*/


/* SMALL Devices, Phones -- 749 PIXELS and SMALLER */
@media screen and (max-width: 715px) {
	
	#svg-header {
		width: 600px;
		/* padding: 50px 0; */
	}
	#instructions__inner{
		width: 600px;
		/* padding: 40px 0; */
	}
}

/* SMALLER Devices, Phones -- 615 PIXELS and SMALLER */
@media screen and (max-width: 615px) {
	
	#svg-header {
		width: 500px;
		/* padding: 50px 0; */
	}
	#instructions__inner{
		width: 500px;
		/* padding: 40px 0; */
	}
}

/* SMALLEST Devices, Phones -- 515 PIXELS and SMALLER */
@media screen and (max-width: 515px) {
	
	#svg-header {
		width: 360px;
		padding: 30px 0;
	}

	#instructions__inner{
		width: 380px;
		padding: 30px 0 40px 0;
	}
	#instructions__inner h1{
		font-size: 2rem;
		margin-bottom: 10px;
		padding: 0 30px 0 20px;
	}
	#instructions__inner p{
		font-size: 1.4rem;
		line-height: 1.7rem;
		text-align: left;
		padding: 0 20 0 20px;
  }
  
}
	